<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>586681433395-1c380d5qu9k79bkfr0ljldr82r9pln8v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.586681433395-1c380d5qu9k79bkfr0ljldr82r9pln8v</string>
	<key>API_KEY</key>
	<string>AIzaSyCouzkSoUzYcmQm0V0Wze03Mu2DJnfSLzI</string>
	<key>GCM_SENDER_ID</key>
	<string>586681433395</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.hostelfinder</string>
	<key>PROJECT_ID</key>
	<string>hostelfinder-00</string>
	<key>STORAGE_BUCKET</key>
	<string>hostelfinder-00.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:586681433395:ios:4c8a0e49681c58e3ba1246</string>
	<key>DATABASE_URL</key>
	<string>https://hostelfinder-00.firebaseio.com</string>
</dict>
</plist>